body {
    font-family: Verdana, Arial, sans-serif;
    background-color: rgb(47%, 18%, 62%);
    background: linear-gradient(180deg, rgb(47%, 18%, 62%), rgb(32%, 14%, 45%));
    color: white;
    font-size: 11pt;
    background-attachment: fixed;
}

input {
    font-size: 14pt;
    width: 120px;
}

select {
    font-size: 14pt;
}

button {
    font-size: 14pt;
}

span.statItem {
    display: inline-block;
    width: 350px
}